<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6028500156-0afs0sr0i14j03rgak91baehrqhn77pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6028500156-0afs0sr0i14j03rgak91baehrqhn77pn</string>
	<key>API_KEY</key>
	<string>AIzaSyBtoMTdIbEShghdxz0wLW_kLIkClRUgJrI</string>
	<key>GCM_SENDER_ID</key>
	<string>6028500156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.completeECommerceApp</string>
	<key>PROJECT_ID</key>
	<string>complete-e-commerce-app</string>
	<key>STORAGE_BUCKET</key>
	<string>complete-e-commerce-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6028500156:ios:2c88a621cfa44d6a4384b9</string>
</dict>
</plist>